.signup {
  h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    text-align: center;
    font-size: 28px;
    line-height: 0;
    margin-top: 60px;
  }
  .inp {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    input {
      font-size: 18px;
      margin-right: 10px;
    }
    button {
      font-size: 18px;
    }
  }
  .alread {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 20px;
      margin-right: 10px;
    }
    a {
      font-size: 18px;
    }
  }
}
