.laptop-navbar {
  padding: 13px 100px;
  background-color: antiquewhite;
  .navbar-brand {
    font-size: 32px;
  }
  .navbar-nav {
    li {
      a {
        font-size: 21px;
      }
    }
  }

  h3 {
    margin-bottom: 0;
    width: 100%;
  }
}
